body
  {
    text-align: center;
background:black;
color: #fff;
font-weight: 4px;
font-family:monospace;
font-size: 16px;
  }

  button
  {
    position: relative;
    left:230%;
    font-size: 1em;
    display:block;
	margin : 2em 5em;
    cursor: pointer;

	background: transparent;
width: 70px;
height:70px;
border-radius:20%;
border-color:red;
color:red;
text-align: center;
font-family: inherit;

  }
   button:hover{
     background: red ;
     color: black;
   }



  video
  {
    border: 1px solid lightgray;

    background-color: black;
  }
